In [1]:
import pandas as pd
import numpy as np
import statistics as stat
from scipy.stats import stats
import warnings
warnings.filterwarnings('ignore')

# Q.1:  According to a study,the daily average time spent by a user on a social media website is 50 minutes.
# To test the claim of this study,Ramesh,are searcher,takes a sample of 25 website users and findsout that the mean time spent by the sample users is 60 minutes and the sample standard deviation is 30 minutes.
# Based on this information,the null and the alternative hypotheses will be:
   ## Ho=The average time spent by the users is 50 minutes
   ## H1=The average time spent by the users is not 50 minutes
   ## Use a 5% significance level to test this hypothesis.

In [65]:
pop_mean=50
sam_mean=60
sam_std_dev=30
sam_size=25

## applying t_test:

t=(sam_mean-pop_mean)/(sam_std_dev/(sam_size**0.5))
print('t_vaule=',t)

alpha=0.05

dof=sam_size-1         ## degree of freedom(dof)

## t_critical for aplha=0.05 and dof=24 is 1.711  (for table of p_critical values)

print('t_critical for alpha=0.05 and dof=24 from table is=',1.711)

t_vaule= 1.6666666666666667
t_critical for alpha=0.05 and dof=24 from table is= 1.711

### Result: t_value < t_critical value hence we can not reject the null hypothesis.

# Q.2: Height of 7 students (incm) is given below. What is the median?
## 168 170 169 160 162 164 162.

In [2]:
a=pd.Series([168,170,169,160,162,164,162])
med=a.median()
print(f'Median is {med}')            ## Value that denotes the middle value called median.

Median is 164.0

# Q.3: Below are the observations of the marks of a student. Find the value of mode.
##   84 85 89 92 93 89 87 89 92

In [3]:
a=pd.Series([84,85,89,92,93,89,87,89,92])
print('Mode is:',stat.mode(a))            ## Value that comes more no. of times in data is called mode.

Mode is: 89

# Q.4: From the table given below, what is the mean of marks obtained by 20 students?
## Marks Xi: 3,4,5,6,7,8,9,10
## No. of Students Fi: 1,2,2,4,5,3,2,1

In [4]:
Marks_Xi=a=[3,4,5,6,7,8,9,10]

No_of_Students_Fi=b=[1,2,2,4,5,3,2,1]

Xi_fi=c=[]

for i in range(8):
    d=a[i]*b[i]
    c.append(d)
    
Total_students=sum(b)

sum_of_Xi_Fi=sum(c)

Mean=(sum_of_Xi_Fi)/(Total_students)

print('Sum of Product of Xi*Fi is:',sum_of_Xi_Fi)
print('Sum of Student Fi:',Total_students)
print('Mean is (Sigma(Xi*Fi)/sigma(fi)):',Mean)

Sum of Product of Xi*Fi is: 132
Sum of Student Fi: 20
Mean is (Sigma(Xi*Fi)/sigma(fi)): 6.6

## Q.5: For a certain type of computer, the length of time between charges of the battery is normally distributed with a mean of 50 hours and a standard deviation of 15 hours. John owns one of these computers and wants to know the probability that the length of time will be between 50 and 70 hours.

In [5]:
## distribution is normal

from scipy.stats import norm

## x is between 50 and 70

mean=50
std=15

probability=(norm(mean,std).cdf(70)-norm(mean,std).cdf(50))

print(probability)

0.4087887802741321

# Q.6: Find the range of the following.
## g = [10, 23, 12, 21, 14, 17, 16, 11, 15, 19]

In [6]:
g=[10, 23, 12, 21, 14, 17, 16, 11, 15, 19]

df=pd.Series(g)

## Range is the difference between Max. and Min. value of given data.

range=df.max()-df.min()

print('Range is:',range)

Range is: 13

## Q.7: It is estimated that 50% of emails are spam emails.Some software has been applied to filter these spam emails before they reach your inbox. A certain brand of software claims that it can detect 99% of spam emails, and the probability for a false positive (a non-spam email detected as spam) is 5%. Now if an email is detected as spam, then what is the probability that it is in fact a non-spam email?

In [7]:
## probability of being spam p(B)= 0.5 = a  (below assign this value in a )

a=0.5

## Then p(B')=1-p(B)=0.5 = b  (below assign this value in b )

b=0.5

## Software claim to detect 99% of spam email then probability p(A/B)=0.99 = c   (below assign this value in c )

c=0.99

## probability of false detect non_spam email as spam p(A/B')=0.05 = d         (below assign this value in d )

d=0.05

## if email is detected as spam then probability that it is a non_spam email p(B'/A)=(p(A/B')*p(B'))/(p(A/B)*p(B)+p(A/B')*p(B')) = e     (below assign this value in e )

e=(d*b)/(c*a+d*b)

print("Probability is P(B'/A):",e)

Probability is P(B'/A): 0.04807692307692308

## Q.8: Given the following distribution of returns, determine the lower quartile: 
## {10 25 12 21 19 17 16 11 15 19}

In [8]:
a=[10,25,12,21,19,17,16,11,15,19]

df=pd.Series(a)

b=df.quantile(0.25)

print('Lower Quartile Q1 is:',b)

Lower Quartile Q1 is: 12.75

## Q.9: For a Binomial distribution, the number of trials(n) is 25, and the probability of success is 0.3. What’s the variability of the distribution?

In [9]:
## no of trials:

n=25

## probability of success:

p=0.3

## variability of the distribution: var= n*p*q  (where n= no.of trails, p=probability of success ,q=(1-p) )

q=(1-p)

var= n*p*q

print('Variability of Binomial distribution is:',var)

Variability of Binomial distribution is: 5.25

## Q.10: Download the Cell Phone Survey Dataset and perform the below mentioned operations on the dataset:-

In [10]:
## first read the given dataset.

df=pd.read_csv('Cell Phone Survey.csv')

## check null values. there is no null value is this dateset.

df.isnull().sum()  

## to check first five rows.

df.head()

,Gender,Carrier,Type,Usage,Signal strength,Value for the Dollar,Customer Service
0,M,AT&T,Smart,High,5,4,4
1,M,AT&T,Smart,High,5,4,2
2,M,AT&T,Smart,Average,4,4,4
3,M,AT&T,Smart,Very high,2,3,3
4,M,AT&T,Smart,Very high,5,5,2

### ● Checking datatypes of each column in the dataset.

In [11]:
##find datetype of each column.

df.dtypes

Gender                  object
Carrier                 object
Type                    object
Usage                   object
Signal strength          int64
Value for the Dollar     int64
Customer Service         int64
dtype: object

### ● Find Mean of Signal strength column using Pandas and Statistics library.

In [12]:
## assign that column to a.

a=df['Signal strength']

## to know the mean by using Pandas.

print('Mean using pandas is :',a.mean())

## to know the mean by using Statistics library.

print('Mean using statistics library is :',stat.mean(a))

Mean using pandas is : 3.3076923076923075
Mean using statistics library is : 3.3076923076923075

### ● Find the Median of Customer Service column using Pandas and Statistics library.

In [13]:
## assign that column to b.

b=df['Customer Service']

## to know the median by using Pandas.

print('Median using pandas is :',b.median())

## to know the median by using Statistics library.

print('Median using statistics library is :',stat.median(b))

Median using pandas is : 3.0
Median using statistics library is : 3.0

### ● Find Mode of Signal strength column using Pandas and Statistics library.

In [14]:
## assign that column to c.

c=df['Signal strength']

## to know the mode by using Pandas.

print('Mode using pandas is :',c.mode())

## to know the mode by using Statistics library.

print('Mode using statistics library is :',stat.mode(c))

Mode using pandas is : 0    3
Name: Signal strength, dtype: int64
Mode using statistics library is : 3

### ● Find Standard deviation of Customer Service column using Pandas and Statistics library.

In [15]:
## assign that column to d.

d=df['Customer Service']

## to know the standard deviation by using Pandas.

print('Std. devaiton using pandas is :',d.std())

## to know the standard deviation by using Statistics library.

print('Std. devation using statistics library is :',stat.stdev(d))

Std. devaiton using pandas is : 0.9623375261979595
Std. devation using statistics library is : 0.9623375261979595

### ● Find Variance of Customer Service column using Pandas and Statistics library.

In [16]:
## assign that column to e.

e=df['Customer Service']

## to know the variance by using Pandas.

print('Variance using pandas is :',e.var())

## to know the variance by using Statistics library.

print('Variance using statistics library is :',stat.variance(e))

Variance using pandas is : 0.9260935143288084
Variance using statistics library is : 0.9260935143288085

### ● Calculate Percentiles of Value for the Dollar column using Numpy.

In [17]:
## assign that column to a1.

a1=df['Value for the Dollar']

## to know the Percentiles by using Numpy.

print("25th percentile is : ",np.percentile(a1,25))
print("50th percentile is : ",np.percentile(a1,50))
print("75th percentile is : ",np.percentile(a1,75))
print("100th percentile is : ",np.percentile(a1,100))

25th percentile is :  3.0
50th percentile is :  3.0
75th percentile is :  4.0
100th percentile is :  5.0

### ● Calculate Range of Value for the Dollar column using Pandas.

In [18]:
## assign that column to a2.

a2=df['Value for the Dollar']

## to know the range by using pandas.

a3=a2.max()-a2.min()

print('Range is:',a3)

Range is: 4

### ● Calculate IQR of Value for the Dollar column using Pandas.

In [19]:
## assign that column to b1.

b1=df['Value for the Dollar']

## to know the IQR by using pandas.

q1=np.quantile(b1,0.25)

q3=np.quantile(b1,0.75)

IQR= q3-q1

print('IQR is:',IQR)

IQR is: 1.0

### ● Hypothesis Testing - Using the data in the Cell Phone Survey dataset, apply ANOVA to determine if the mean response for Value for dollar is the same for different types of cell phones.

In [39]:
data1=df['Value for the Dollar'][df['Type']=='Smart']

data2=df['Value for the Dollar'][df['Type']=='Camera']

data3=df['Value for the Dollar'][df['Type']=='Basic']

print('Mean of data1:',data1.mean())
print('Mean of data2:',data2.mean())
print('Mean of data3:',data3.mean())

Mean of data1: 3.8095238095238093
Mean of data2: 3.1578947368421053
Mean of data3: 3.1666666666666665

In [40]:
## applying Anova test in above three groups.

stats.f_oneway(data1,data2,data3)

F_onewayResult(statistic=3.111194352801031, pvalue=0.05345420071280546)

### Result: pvalue is greater than alpha value=0.05 so we accept  the null hypothesis but alternate hypothesis is rejected. we can say that the mean of different type of cell phones  are same.